Package: com.noahsaso.olednotify
Name: OLEDNotify
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Get notified OLED-style
Maintainer: Noah Saso <noahsaso@gmail.com>
Author: Noah Saso <noahsaso@gmail.com>
Section: Tweaks
